/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.thumb{
    max-width: 100px;
}

.info-table{
    margin-top: 5em;
}
.info-table th,
.info-table td{
    vertical-align: middle !important;
    position: relative;
}


.info-table tr:hover i{
    display: block;
}

.info-table tr i{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    color:#999;
}

.info-table tr i:hover{
    color:#fff;
}